{% extends site_template %}
{% load i18n crispy_forms_filters %}

{% block content %}
    <main id="password" class="sectionpadding-lg">
        <div class="container">
            <h2>{% trans 'Reset my password' %}</h2>
            <div class="color-bloc white-bloc">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Send Email' %}" />
                    <div class="clearfix"></div>
                </form>
           </div>
        </div>
    </main>
{% endblock %}