{% extends site_template %}
{% load i18n crispy_forms_filters %}

{% block content %}
    <main id="password" class="sectionpadding-lg">
        <div class="container">
            <h2>{% trans 'Reset my password' %}</h2>
            <div class="color-bloc white-bloc">
            {% if validlink %}
                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="{% trans 'Send Email' %}" />
                </form>
            {% else %}
                 <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            {% endif %}
           </div>
        </div>
    </main>
{% endblock %}