celery
Django>=1.10,<2.0
django-crispy-forms
django-debug-toolbar
redis
requests
django-redis
six
django-anymail # Used for mandrill integration. See installation instruction at https://github.com/anymail/
psycopg2

# private requirements
nixa-emails
nixa-users
nixa-login
