container_commands:
  01_create_aws_configuration_file:
    cwd: "/opt/python/ondeck/app"
    # Define APP folder for settings here
    command: "cp [APP_FOLDER]/aws_settings.py [APP_FOLDER]/local_settings.py"
  02_migrate:
    cwd: "/opt/python/ondeck/app"
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_collect_static:
    cwd: "/opt/python/ondeck/app"
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  04_restartbeat:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart celery_beat"
  05_restartworker:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart celery_worker"
