{% extends site_template %}
{% load i18n %}

{% block content %}
    <main id="password" class="sectionpadding-lg">
        <div class="container">
            <h2>{% trans 'Reset my password' %}</h2>
            <div class="color-bloc white-bloc">
                <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted." %}</p>
                <p><strong>{% trans "You should be receiving it shortly." %}</strong></p>
           </div>
        </div>
    </main>
{% endblock %}