{% extends "auth_base.html" %}
{% load i18n %}
{% block content %}
  <!--MDB Forms-->
  <!-- Grid row -->
  <div class="row" style="margin-top:10%">
      <!-- Grid column -->
      <div class="offset-md-3 col-md-6 mb-4">
          <div class="card near-moon-gradient form-white">
              <div class="card-body">
                  {% if form.errors %}
                    <p>{% trans "Your username and password didn t match. Please try again." %}</p>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                      <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
                    {% else %}
                      <p>{% trans 'Please login to see this page.' %}</p>
                    {% endif %}
                  {% endif %}

                  <!-- Form subscription -->
                    <form method="post" action="{% url 'login' %}" autocomplete="off">
                        {% csrf_token %}
                        <h3 class="text-center indigo-text font-bold py-4"><strong> </strong></h3>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix white-text"></i>
                            <input readonly onfocus="this.removeAttribute('readonly');" autocomplete="off" type="email" id="form25" name="{{ form.username.html_name }}" class="form-control">
                            <label for="form25">{{ form.username.label }}</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-key prefix white-text"></i>
                            <input autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" type="password" name="{{ form.password.html_name }}" id="form35" class="form-control">
                            <label for="form35">{{ form.password.label }}</label>
                        </div>
                        <div class="text-center py-4">
                            <input type="hidden" name="next" value="{{ next }}" />
                            <button type="submit" value="login" class="btn btn-indigo">{% trans 'Login ' %}<i class="fa fa-unlock ml-1"></i></button>
                        </div>
                    </form>
                  <!-- Form subscription -->
                  {# Assumes you setup the password_reset view in your URLconf #}
                  <p><a href="{% url 'password_reset' %}">{% trans 'Lost password?' %}</a></p>
                </div>
          </div>
      </div>
      <!-- Grid column -->
  </div>
  <!-- Grid row -->
{% endblock %}

