{% load i18n %}

{% trans "Bonjour" %},
{% trans "Merci d'avoir acheté des " %} {% trans " chez " %} {% trans "le" %} .
{% trans "Cet achat apparaitra au nom de " %} {% trans " sur votre carte " %} {% trans " terminant par " %} .
{% trans "Information de la commande" %}
{% trans "Numéro de commande: " %}
{% trans "Objet" %}
{% trans "Quantité" %}
{% trans "Prix" %}
{% trans "Taxes" %}
{% trans "Total" %}
{% trans 'Reçu de l'achat (PDF)'%}
{% trans "Information de l'achat" %}
{% trans "Nom: " %}
{% trans "Email: " %}
{% trans "Montant total: " %}
{% trans "Type de carte: " %}
{% trans "Adresse de facturation: " %}
{% trans "Date: " %}
{% trans "Vous avez des questions ou avez besoin de support? Contactez nous!" %}