__author__ = 'snake'


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'vagrant',
        'USER': 'vagrant',
        'PASSWORD': 'a',
        'HOST': 'localhost',
    },
}

PROJECT_PROTOCOL = '//'
PROJECT_DOMAIN = '127.0.0.1:8000'
PROJECT_URI = "".join((PROJECT_PROTOCOL, PROJECT_DOMAIN))