__author__ = 'snake'

DATABASES = {
   'default': {
       'ENGINE': 'django.db.backends.postgresql_psycopg2',
       'NAME': 'PROJECT_NAME',
       'USER': 'PROJECT_NAME',
       'PASSWORD': '12345',
       'HOST': 'db',
       'PORT': '5432',
   }
}

PROJECT_PROTOCOL = '//'
PROJECT_DOMAIN = '127.0.0.1:8000'
PROJECT_URI = "".join((PROJECT_PROTOCOL, PROJECT_DOMAIN))

# show_toolbar = lambda x: True

